body {
    font-family: "arial";
    font-size: 14px;
    color: #474747;
  }

  img {
    cursor: pointer;
  }
  
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  header {
    height: 50px;
    width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header img {
    cursor: pointer;
  }
  
  .search {
    padding: 0;
    float: left;
    font-size: 12px;
    color: #474747;
  }
  
  .search input {
    width: 390px;
    height: 30px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    float: left;
    padding: 0 0 0 10px;
  }
  
  .search button {
    height: 34px;
    width: 50px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  div span {
    color: black;
    font-size: 9px;
  }
  
  .dropbtn {
    background-color: #fff;
    color: #777;
    padding: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    font-size: 12px;
  }
  
  .right-side a {
    color: #007bea;
    font-size: 13px;
  }
  
  main {
    display: flex;
    flex-direction: column;
  }
  
  nav {
    width: 100%;
    height: 260px;
    background-color: #0087bf;
    display: flex;
    justify-content: center;
  }
  
  .slider {
    margin-top: 10px;
    width: 960px;
    height: 240px;
    display: block;
    position: relative;
  }
  
  .slides li {
    list-style: none;
    position: absolute;
  }
  
  .home {
    width: 960px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  section {
    display: flex;
  }
  
  .hp-conteudo {
    width: 700px;
    display: flex;
  }
  
  .pics {
    width: 300px;
  }
  
  .pics img {
    width: 55px;
    height: 55px;
    border-radius: 6px;
    margin-right: 15px;
  }
  
  section div {
    width: 380px;
    text-align: left;
  }
  
  section div h1 {
    font-weight: 700;
  }
  
  section button {
    width: 250px;
    height: 55px;
    background-color: #428bca;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  section button a {
    font-size: 20px;
    font-weight: bold;
  }
  
  .books-section {
    width: 950px;
    height: 250px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
  }
  
  .books-section div:nth-child(2) img {
    width: 230px;
    height: 240px;
    padding: 0px;
  }
  
  .raffle-border {
    width: 660px;
    border: 1px solid #ccc;
    padding: 14px;
    height: 210px;
  }
  
  .raffle {
    height: 188px;
  }
  
  .raffle img {
    width: 115px;
    height: 173px;
    margin-right: 10px;
  }
  
  .raffle div {
    margin-top: 4px;
  }
  
  .raffle div {
    display: flex;
    justify-content: space-between;
  }
  
  .raffle div div {
    display: flex;
    flex-direction: column;
  }
  
  .raffle div span {
    font-weight: 700;
    font-size: 14px;
  }
  
  .raffle div p {
    margin: 0;
  }
  
  .raffle button {
    font-size: 12px;
    width: 142px;
    height: 29px;
    background-color: #428bca;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .border {
    height:1px;
    background-color: #f0f0f0;
  }

footer {
    margin-top:15px;
}

  .footer-main {
    background-color:#f2f7fb;
    width:100%;
    height:218px;
    display:flex;
  }


  
.footer-info {
    width:761px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right:40px;
}

.logo {
    display:flex;
    width:500px;
    display:flex;
    align-items: center;
    margin-right:30px;
}

.logo img {
    width:70px;
    height:84px;
    margin-right:20px;
}

.logo p {
    text-align:center;
}

.footer-info div:nth-child(2) {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right:30px;
}

.icons {
    font-size:30px;
    color:#0087bf;
}

.download {
    margin-top:20px;
    border:1px solid #ccc;
    border-radius:5px;
    padding:10px;
    height:90px;
    box-sizing: border-box;
}

.app {
    width:199px;
    height:72px;
}

.app h3 {
    text-align: center;
    margin:10px 0;
}

.app img {
    width: 94px;
    height:33px;
}

.footer-links {
    width:170px;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.footer-links a {
    color:#0087bf;
    line-height:22px;
}

.footer-nav {
    width:100%;
    height:51px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#0087bf;
}

.menu {
    width:100%;
    display:flex;
    justify-content: center;
    margin-top:10px;
    margin-bottom:10px;
    color:white;
}

.menu a {
    color:white;
    padding: 0 20px;
    border-right:1px solid #fff;
}

.menu .last {
    border-right:none;
}